# =========================================
# Python
# =========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
venv/
env/
ENV/

# =========================================
# PyInstaller
# =========================================
build/
dist/
bin/*.exe
*.spec

# =========================================
# Generated Assets
# =========================================

out/*.png
out/*.jpg
out/*.jpeg
out/*.tga

in/*.png
in/*.jpg
in/*.jpeg
in/*.tga

# =========================================
# Logs & Temp
# =========================================
*.log
*.tmp
*.temp
*.bak
*.swp

# =========================================
# OS / IDE
# =========================================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================================
# CI / Build Artifacts
# =========================================
.cache/
releases/